<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Title1</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
      consequatur voluptatibus explicabo. Obcaecati, explicabo corrupti.
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--primary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis,
        adipisci.
      </div>
    </div>
  </div>
</section>
<section class="block block--black block--skewed-left">
  <header>
    <div class="container">
      <h2 class="block__heading">Title1</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
        consequatur voluptatibus explicabo. Obcaecati, explicabo corrupti.
      </p>
    </div>
  </header>
</section>
