<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, voluptatem.
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="../Images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores
        exercitationem ut inventore hic aliquam! Repudiandae rem odit sint minus
        sapiente.
      </p>
      <a class="link-arrow" href="">Learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2px.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/easy.png 1x, images/easy@2px.png 2x"
      />
      <img src="/Images/easy@2x.png" alt="" class="feature__image" />
    </picture>
  </article>
</section>
<section class="block container">
  <article class="grid grid--1x2 feature feature__even">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="../Images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply fast websites</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores
        exercitationem ut inventore hic aliquam! Repudiandae rem odit sint minus
        sapiente.
      </p>
      <a class="link-arrow" href="">Learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/fast.webp 1x, images/fast@2px.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/fast.png 1x, images/fast@2px.png 2x"
      />
      <img src="/Images/fast.png" alt="" class="feature__image" />
    </picture>
  </article>
</section>
<section class="block container">
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="../Images/sprite.svg#settings"></use>
        </svg>
      </span>
      <h3 class="feature__heading">WordPress made easy</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores
        exercitationem ut inventore hic aliquam! Repudiandae rem odit sint minus
        sapiente.
      </p>
      <a class="link-arrow" href="">Learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/wordpress.webp 1x, images/wordpress@2px.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/wordpress.png 1x, images/wordpress@2px.png 2x"
      />
      <img src="/Images/wordpress@2x.png" alt="" class="feature__image" />
    </picture>
  </article>
</section>
<section class="block container">
  <article class="grid grid--1x2 feature feature__even">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="../Images/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3 class="feature__heading">24/7 Expert Support</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores
        exercitationem ut inventore hic aliquam! Repudiandae rem odit sint minus
        sapiente.
      </p>
      <a class="link-arrow" href="">Learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/support.webp 1x, images/support@2px.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/support.png 1x, images/support@2px.png 2x"
      />
      <img src="/Images/support@2x.png" alt="" class="feature__image" />
    </picture>
  </article>
</section>
