.btn {
  border-radius: 40px;
  border: none;
  font-weight: 600; /*forgot this*/
  padding: 2rem 3rem; /*forgot*/
  cursor: pointer; /*clickablility*/
  font-size: 1.8rem;
  background: none;
  white-space: nowarp;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.btn--primary {
  border: 2px solid var(--color-headings);
  height: 6.2rem;
  width: 40rem;
}
.btn--secondary {
  background-color: var(--color-secondary);
  color: #fff;
  height: 7.3rem;
  width: 31.5rem;
}
.btn--primary:hover {
  /* background-color: var(--color-headings); */
  background: lighten(primary, 10%);
  color: #fff;
}
.btn--accent {
  width: 17.5rem;
  height: 6.3rem;
  background-color: var(--color-accent);
  color: #fff;
}
/* .btn--accent::before {
    content: url(../Images/sprite.svg#search.svg);
    padding-left: 1.5rem;
  } */
@media screen and (min-width: 1024px) {
  .btn--primary {
    width: 25.8rem;
    height: 5.3rem;
  }
  .btn--secondary {
    width: 22.6rem;
    height: 6.1rem;
  }
  .btn--accent {
    width: 17.5rem;
    height: 5.5rem;
  }
}

/* =========== */
/* <section class="block container block--black showcase">
<header class="block__header">
  <h2 class="block__heading">User-Friendly Control Panel</h2>
</header>
<article class="grid grid--1x2">
  <img class="showcase__image" src="/Images/ipad.png" alt="" />
  <div class="showcase__content">
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary">
          <use xlink:href="../Images/sprite.svg#snap"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title block__heading">
          Easy Start & Managed Updates
        </h3>
        <p>
          Our cloud plans include easy onboarding for new and existing
          sites and managed WordPress and WooCommerce auto-updates.
        </p>
      </div>
    </div>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary">
          <use xlink:href="../Images/sprite.svg#snap"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title block__heading">
          Easy Start & Managed Updates
        </h3>
        <p>
          Our cloud plans include easy onboarding for new and existing
          sites and managed WordPress and WooCommerce auto-updates.
        </p>
      </div>
    </div>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary">
          <use xlink:href="../Images/sprite.svg#snap"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title block__heading">
          Easy Start & Managed Updates
        </h3>
        <p>
          Our cloud plans include easy onboarding for new and existing
          sites and managed WordPress and WooCommerce auto-updates.
        </p>
      </div>
    </div>
  </div>
</article>
</section> */
/* .showcase__image {
  width: 100%;
}

.showcase__heading {
  margin-bottom: 7.8rem;
}

<section class="block block--black">
<div class="container footer">
  <div class="footer-logo">
    <div>
      <img src="/Images/logo.png" alt="" />
      <p>Copyright © 2020 mosh</p>
    </div>
  </div>
  <div class="collapsible collapsible--expended">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item 1</h2>

        <svg class="icon icon--white collapsible__chevron">
          <use href="images/sprite.svg#chevron"></use>

      </span>
    </header>
    <ul class="list collapsible__content">
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
      <li>Item 5</li>
    </ul>
  </div>
  <div class="collapsible collapsible--expended">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item 1</h2>

        <svg class="icon icon--white collapsible__chevron">
          <use href="images/sprite.svg#chevron"></use>

      </span>
    </header>
    <ul class="list collapsible__content">
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
      <li>Item 5</li>
    </ul>
  </div>
  <div class="collapsible collapsible--expended">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item 1</h2>

        <svg class="icon icon--white collapsible__chevron">
          <use href="images/sprite.svg#chevron"></use>

      </span>
    </header>
    <ul class="list collapsible__content">
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
      <li>Item 5</li>
    </ul>
  </div>
  <div class="collapsible collapsible--expended">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item 1</h2>

        <svg class="icon icon--white collapsible__chevron">
          <use href="images/sprite.svg#chevron"></use>

      </span>
    </header>
    <ul class="list collapsible__content">
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
      <li>Item 5</li>
    </ul>
  </div>
</div>
</section> */
.footer-logo {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* 
<footer class="block block--dark footer">
<div class="container grid footer__sections">
  <section class="collapsible collapsible--expanded footer__section">
    <div class="collapsible__header">
      <h2 class="collapsible__heading footer__heading">Products</h2>
      <svg class="icon icon--white collapsible__chevron">
        <use href="images/sprite.svg#chevron"></use>
      </svg>
    </div>
    <div class="collapsible__content">
      <ul class="list">
        <li><a href="#">Website Hosting</a></li>
        <li><a href="#">Free Automated Wordpress</a></li>
        <li><a href="#">Migrations</a></li>
      </ul>
    </div>
  </section>
  <section class="collapsible footer__section">
    <div class="collapsible__header">
      <h2 class="collapsible__heading footer__heading">Company</h2>
      <svg class="icon icon--white collapsible__chevron">
        <use href="images/sprite.svg#chevron"></use>
      </svg>
    </div>
    <div class="collapsible__content">
      <ul class="list">
        <li><a href="#">About</a></li>
        <li><a href="#">Affiliates</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
  </section>
  <section class="collapsible footer__section">
    <div class="collapsible__header">
      <h2 class="collapsible__heading footer__heading">Support</h2>
      <svg class="icon icon--white collapsible__chevron">
        <use href="images/sprite.svg#chevron"></use>
      </svg>
    </div>
    <div class="collapsible__content">
      <ul class="list">
        <li><a href="#">Contact</a></li>
        <li><a href="#">Knowledge Base</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>
  </section>
  <section class="collapsible footer__section">
    <div class="collapsible__header">
      <h2 class="collapsible__heading footer__heading">Domains</h2>
      <svg class="icon icon--white collapsible__chevron">
        <use href="images/sprite.svg#chevron"></use>
      </svg>
    </div>
    <div class="collapsible__content">
      <ul class="list">
        <li><a href="#">Domain Checker</a></li>
        <li><a href="#">Domain Transfer</a></li>
        <li><a href="#">Free Domain</a></li>
      </ul>
    </div>
  </section>
  <div class="footer__brand">
    <img src="images/logo.svg" alt="" />
    <p class="footer__copyright">Copyright 2020 Mosh Hamedani</p>
  </div>
</div>
</footer> */

/* mine
    <footer class="block block--black footer">
      <div class="container grid footer__sections">
        <section class="collapsible collapsible--expended footer__section">
          <header class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">Item 1</h2>
      
              <svg class="icon icon--white collapsible__chevron">
                <use href="images/sprite.svg#chevron"></use>
      
            </span>
          </header>
          <p class="collapsible__content">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo,
            perspiciatis.
          </p>
        </div>
      </section>
        <section class="collapsible collapsible--expended footer__section">
          <header class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">Item 2</h2>
      
              <svg class="icon icon--white collapsible__chevron">
                <use href="images/sprite.svg#chevron"></use>
      
            </span>
          </header>
          <p class="collapsible__content">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo,
            perspiciatis.
          </p>
        </div>
      </section>
        <section class="collapsible collapsible--expended footer__section">
          <header class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">Item 3</h2>
      
              <svg class="icon icon--white collapsible__chevron">
                <use href="images/sprite.svg#chevron"></use>
      
            </span>
          </header>
          <p class="collapsible__content">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo,
            perspiciatis.
          </p>
        </div>
      </section>
        <section class="collapsible collapsible--expended footer__section">
          <header class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">Item 4</h2>
      
              <svg class="icon icon--white collapsible__chevron">
                <use href="images/sprite.svg#chevron"></use>
      
            </span>
          </header>
          <p class="collapsible__content">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo,
            perspiciatis.
          </p>
        </div>
      </section>
      <section class="footer__brand"><img src="/Images/logo.png" alt="">
      <p class="footer__copyright">
        Copyright © 2020 mosh
      </p></section>
    </footer>
 */
