.btn {
  border-radius: 40px;
  border: none;
  font-weight: 600; /*forgot this*/
  padding: 2rem 3rem; /*forgot*/
  cursor: pointer; /*clickablility*/
  font-size: 1.8rem;
  background: none;
  white-space: nowarp;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.btn--primary {
  border: 2px solid var(--color-headings);
  height: 6.2rem;
  width: 40rem;
}
.btn--secondary {
  background-color: var(--color-secondary);
  color: #fff;
  height: 7.3rem;
  width: 31.5rem;
}
.btn--primary:hover {
  /* background-color: var(--color-headings); */
  background: lighten(primary, 10%);
  color: #fff;
}
.btn--accent {
  width: 17.5rem;
  height: 6.3rem;
  background-color: var(--color-accent);
  color: #fff;
}
/* .btn--accent::before {
    content: url(../Images/sprite.svg#search.svg);
    padding-left: 1.5rem;
  } */
@media screen and (min-width: 1024px) {
  .btn--primary {
    width: 25.8rem;
    height: 5.3rem;
  }
  .btn--secondary {
    width: 22.6rem;
    height: 6.1rem;
  }
  .btn--accent {
    width: 17.5rem;
    height: 5.5rem;
  }
}

/* =========== */
/* <section class="block container block--black showcase">
<header class="block__header">
  <h2 class="block__heading">User-Friendly Control Panel</h2>
</header>
<article class="grid grid--1x2">
  <img class="showcase__image" src="/Images/ipad.png" alt="" />
  <div class="showcase__content">
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary">
          <use xlink:href="../Images/sprite.svg#snap"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title block__heading">
          Easy Start & Managed Updates
        </h3>
        <p>
          Our cloud plans include easy onboarding for new and existing
          sites and managed WordPress and WooCommerce auto-updates.
        </p>
      </div>
    </div>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary">
          <use xlink:href="../Images/sprite.svg#snap"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title block__heading">
          Easy Start & Managed Updates
        </h3>
        <p>
          Our cloud plans include easy onboarding for new and existing
          sites and managed WordPress and WooCommerce auto-updates.
        </p>
      </div>
    </div>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary">
          <use xlink:href="../Images/sprite.svg#snap"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title block__heading">
          Easy Start & Managed Updates
        </h3>
        <p>
          Our cloud plans include easy onboarding for new and existing
          sites and managed WordPress and WooCommerce auto-updates.
        </p>
      </div>
    </div>
  </div>
</article>
</section> */
.showcase__image {
  width: 100%;
}

.showcase__heading {
  margin-bottom: 7.8rem;
}
